<div
  class="sidebar"
  data-color="purple"
  data-background-color="white"
  data-image="/static/assets/img/sidebar-1.jpg"
>
  <div class="logo">
    <a
      target="_blank"
      rel="noopener noreferrer"
      href="https://keepa.com/"
      class="simple-text logo-normal"
    >
      Keepa
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      {% if request.user.is_authenticated %}
        {% if not perms.products.can_approve and not request.user.is_superuser %}
        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
          <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
          <li class="nav-item {% if 'products' in segment %} active {% endif %}">
            <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false">
              <i class="material-icons">inventory</i>
              <p>Products <b class="caret"></b> </p>
            </a>
            <div class="collapse" id="products">
              <ul class="nav">
                <li class="nav-item {% if segment == 'products' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'product-list'%}">
                    <i class="material-icons">inventory</i>
                    <p>Products</p>
                  </a>
                </li>
                <li class="nav-item {% if segment == 'products_entries' %} active {% endif %}">
                  <a class="nav-link" href="{% url 'product-entry-list' %}">
                    <i class="material-icons">request_page</i>
                    <p>Products Entries</p>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        {% else %}
        <li class="nav-item {% if 'index' in segment %} active {% endif %}">
          <a class="nav-link" href="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>

        <li class="nav-item {% if 'authentication' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'users' %}">
            <i class="material-icons">account_circle</i>
            <p>Users</p>
          </a>
        </li>

        <li class="nav-item {% if 'client' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'clients' %}">
            <i class="material-icons">account_circle</i>
            <p>Clients</p>
          </a>
        </li>

        <li class="nav-item {% if 'products' in segment %} active {% endif %}">
          <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false">
            <i class="material-icons">inventory</i>
            <p>Products <b class="caret"></b> </p>
          </a>
          <div class="collapse" id="products">
            <ul class="nav">
              <li class="nav-item {% if segment == 'products' %} active {% endif %}">
                <a class="nav-link" href="{% url 'products'%}">
                  <i class="material-icons">inventory</i>
                  <p>Products</p>
                </a>
              </li>
              <li class="nav-item {% if segment == 'products_entries' %} active {% endif %}">
                <a class="nav-link" href="{% url 'product-entry-list' %}">
                  <i class="material-icons">request_page</i>
                  <p>Products Entries</p>
                </a>
              </li>
            </ul>
          </div>
        </li>

        {% comment %} <li class="nav-item {% if 'orders' in segment %} active {% endif %}">
          <a class="nav-link" href="{% url 'order-list' %}">
            <i class="material-icons">inventory</i>
            <p>Orders</p>
          </a>
        </li> {% endcomment %}

        
        {% endif %}

      {% else %}

        <li class="nav-item active">
          <a class="nav-link" href="/">
            <i class="material-icons">login</i>
            <p>Login</p>
          </a>
        </li>

      {% endif %}
    </ul>
  </div>
</div>
